@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.content {
  position: center;
  display: flex;
  min-height: 125vh;
  margin-left: 26em;
  margin-bottom: -31em;
  align-items: center;
  justify-content: center;
}

.content h6 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h6:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #FFACAC;
}

.content h6:nth-child(2) {
  color: #FFACAC;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}



.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 35px;
      text-align: center;
      margin-left: 450px;
    
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* ... (previous CSS) */

.container {
  display: grid;
  place-items: center;
}

.animated-card {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 200px; /* Set a larger width */
  height: 300px;
  text-align: center;
  margin: 16px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
}


.animated-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #777;
}

/* Customize the styling as per your design preferences */
